<div class="form-container">

  {{#if mensaje}}
  <div style="color: green;">{{mensaje}}</div>
  {{/if}}
  {{#if error}}
  <div style="color: red;">{{error}}</div>
  {{/if}}

  <form id="password-form" action="/api/password/cambioPassword" method="post">
    <h2>Crear una Contraseña</h2>
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

    <label for="confirm-password">Confirmar Contraseña</label>
    <input type="password" id="confirm-password" name="repeticion" placeholder="Confirma tu contraseña" required>

    <input type="hidden" name="token" id="token" value={{this.tk}}>

    <span id="password-error" class="error-message"></span>

    <button type="submit">Registrar</button>
  </form>
</div>

<script src="./../public/js/password.js"></script>