    <nav class="navbar">
        <button class="nav-button" id="chat">Chat</button>
        <button class="nav-button" id="contactos">Contactos</button>
        <button class="nav-button" id="perfil">Perfil</button>
        <button class="nav-button" id="buscar">Buscar</button>
        <button class="nav-button" id="logout">Cerrar session</button>
    </nav>